@import '../../components/free-board/index.styl';

.freedom
  width (cell-size * 13)px
  height 100%

  &-container
    width (cell-size * 13)px
    height 100%

  &-console
    width (cell-size * 10)px
    height (cell-size * 5)px
    margin auto
    background-color gray 
